{% extends 'layout.twig' %}

{% block body %}
  <main>
    <textarea cols="7" height="95vh">{{words}}</textarea>
    <textarea cols="7" height="95vh">{{nonRepeatingWords}}</textarea>
    <textarea cols="7" height="95vh">{{repeatingWords}}</textarea>
  </main>
{% endblock %}
