{% extends 'layout.twig' %}

{% block body %}
  <main>
    <textarea cols="7" height="45vh">{{words}}</textarea>
    <textarea cols="7" height="45vh">{{nonRepeatingWords}}</textarea>
    <textarea cols="7" height="45vh">{{repeatingWords}}</textarea>
    <textarea cols="7" height="45vh">{{sWords}}</textarea>

  </main>
{% endblock %}
