<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/javascripts/script.js"></script>
    <script>
      let _word = "{{word}}";
      let wordNumber = "{{wordNumber}}";
      main();
  </script>
  </body>
</html>
