<!DOCTYPE html>
<html lang="hy">
	<head>
		<meta name="description" content="Բառուկը օրական բառախաղ է։ Գուշակիր այսօրվա ԲԱՌՈՒԿԸ վեց փորձից։ Յուրաքանչյուր փորձը պետք է լինի հինգ տառանոց վավեր բառ։ (wordle խաղի հայերեն տարբերակը)">
		<meta name="keywords" content="բառուկ, հայ, օրվա, օրական, wordle, խաղ, հայերեն, բառախաղ">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Tigran Serobyan, Areg Serobyan">
		<link rel="canonical" href="https://xn--y9ab4b9at1b.xn--y9a3aq/"/>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<link rel='preload' href='/stylesheets/dark.css' as='style'>
		<link rel='preload' href='/stylesheets/light.css' as='style'>
		<link rel='stylesheet' href='/stylesheets/dark.css' id="style"/>
		<link rel='stylesheet' href='/stylesheets/greenYellow.css' id="colorMode"/>
		<link rel='icon' href='/stylesheets/images/logo.png' id="icon"/>
		<link rel='apple-touch-icon' href='/stylesheets/images/logo.png' id="appleIcon"/>
		<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
		<title>{{ title }}</title>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
